.input_container {
  flex-direction: column;
  margin-top: 2rem;
  padding-inline: 0.5rem;
  z-index: 10;
}


.input_default {
  width: 100%;
    padding-inline: 15px;
    height: 45px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: #0a8967;
    font-family: Lexend Deca;
  }

.input_default[type=checkbox] {
  height: 1rem;
  width: 1rem;
}
  
  .input_default:focus {
    border: 2px solid #20df7f;
    outline: none;
  }

  .input_label {
    font-size: 12px;
  }


  ::placeholder {
  color: lightgray;
 }


.input_default[type=file] {
  display: none;
}

.input_label_file {
  border: 2px solid #0a8967;
  padding: 6px 12px;

  cursor: pointer;
  border-radius: 20px;
  
  font-weight: bold;
  background-color: #00bd78;
  transition-duration: 0.5s;

  display: flex;
  height: 3rem;
  align-items: center;
  justify-content: center;
  
}

.input_label_file:hover {
  transform: scale(1.1);
  font-weight: bold;
  color: white;
}



